<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>소셜인증완료</title>
</head>

<body>
    <div>소셜인증완료</div>
    <script>
        window.onload = function () {
            const provider = '<%= provider %>';
            const accessToken = '<%= accessToken %>';
            const expiresAt = '<%= expiresAt %>';
            const errMsg = '<%= errMsg %>';
            window.opener.postMessage({
                provider,
                accessToken,
                expiresAt,
                errMsg
            }, '*');
            window.close();
        }
    </script>
</body>

</html>