<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <button onclick="javascript:kakaoLogin()">카카오로그인</button>
        <button onclick="javascript:naverLogin()">네이버로그인</button>
        <button onclick="javascript:googleLogin()">구글로그인</button>
        <button onclick="javascript:appleLogin()">애플로그인</button>
    </div>
    <br />
    <div id="result">
        <div>요청 도메인: <%= host %>
        </div>
        <div>공급자:</div>
        <div>발급토큰:</div>
        <div>만료일자:</div>
        <div>에러메시지:</div>
    </div>
    <script>
        const appHost = '<%= host %>';

        function isMobile() {
            return /Mobi|Android/i.test(navigator.userAgent);
        }

        function openLoginWindow(url) {
            if (isMobile()) {
                window.open(url, '_blank');
            } else {
                window.open(url, '_blank', 'width=500, height=500');
            }
        }

        function kakaoLogin() {
            openLoginWindow(`${appHost}/api/v1/third-parties/kakao/login`);
        }

        function naverLogin() {
            openLoginWindow(`${appHost}/api/v1/third-parties/naver/login`);
        }

        function googleLogin() {
            openLoginWindow(`${appHost}/api/v1/third-parties/google/login`);
        }

        function appleLogin() {
            openLoginWindow(`${appHost}/api/v1/third-parties/apple/login`);
        }

        const resultEl = document.querySelector('#result');
        window.addEventListener('message', (e) => {
            console.log(e.data);
            resultEl.innerHTML = `
            <div>요청 도메인: <%= host %></div>
            <div>공급자: ${e?.data?.provider}</div>
            <div>발급토큰: ${e?.data?.accessToken}</div>
            <div>만료일자: ${e?.data?.expiresAt?.toLocaleString('ko-KR', { timeZone: 'Asia/Seoul' })}</div>
            <div>에러메시지: ${e?.data?.errMsg}</div>
            `
        });
    </script>
</body>

</html>